{% extends "core/base.html" %}


{% block fondo %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock fondo %}


{% block cabezera %}
   <h1>Rafael Hidalgo</h1>
   <span class="subheading">Ingeniero en Computacion</span>
{% endblock cabezera %}


{% block content %}

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Rafael Hidalgo</h1>
          <span class="subheading">Ingeniero en Computacion</span>
        </div>
    </div>
  </div>

    
{% endblock content %}

